* {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
body {
    margin: 0;
    padding: 0;
}
.container {
    display: flex;
}
.header--area {
    flex-direction: column;
    width: 100%;
}
.header--desconto {
    background-color:#181818;
    text-align: center;
    color: #FFFFFF;
    height: 60px;
}
.header--desconto h5 {
    font-size: 14px;
    font-weight: normal;
    padding-bottom: 20px;
}
.header--title {
    background-color:#F9F9F9;
    text-align: center;
    height: 60px;
}
.header--title h1 {
    font-size: 27px;
}

.banner {
    background-image: url('../images/MaskGroup.png');
    background-size: cover;
    background-position: center;
}
.banner-opacity {
    background-color: rgba(0, 0, 0, 0.5);
    height: 340px;
}
.banner--area {
    display: flex;
    max-width: 1200px;
    margin: auto;
}
.banner--text--area {
    width: 400px;
}
.banner--area h2{
    margin-top: 100px;
    font-weight: 700;
    font-size: 32px;
    color: #F9F9F9;
}
.banner--area p {
    color: #F9F9F9;
    line-height: 35px;
}
.tennis {
    max-width: 1200px;
    margin: auto;
}
.tennis--text {
    margin: 70px;
    text-align: center;
}
.tennis--text h2 {
    font-weight: 600;
    font-size: 30px;
}
.tennis--text p {
    font-size: 18px;
}
.tennis--imgs {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap:10px;
    grid-row-gap: 30px;
    margin-bottom: 30px;
}
.tennis--imgs--area {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#EBE9EA ;
    widows: 280px;
    height: 280px;
}
footer {
    background-color: #181818;
    height: 60px
}
.footer--area {
    color: #F9F9F9;
    text-align: center;
}
.footer--area p {
    padding: 20px;
    font-size: 17px;
}
@media (min-width: 768px) and (max-width: 1217px) {
    p,
    h1,
    h2 {
        margin: 30px;
    }
    .tennis--imgs {
        grid-template-columns: repeat(2, 1fr);
        grid-row-gap: 0px;
    }
    .banner--text--area {
        width: 60%;
    }
    .tennis--imgs--area {
        margin: 30px;
    }
}
@media (min-width: 320px) and (max-width: 767px) {
    p,
    h1,
    h2 {
        margin: 20px;
    }
    .banner--text--area {
        width: 100%;
    }
    .tennis--imgs {
        grid-template-columns: 1fr;
        grid-row-gap: 0px;
    }
    .tennis--imgs--area {
        margin: 20px;
    }
    .footer--area {
        margin-top: 20px;
    }
    .footer--area p {
        padding: 0px;
    }
}